<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Noticias Guaidó
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="actualizar($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Hale para actualizar"
          refreshingSpinner="circles"
          refreshingText="Actualizando...">
        </ion-refresher-content>
       
      
          <!--
            <div *ngIf="selectedItem" padding>
              You navigated here from <b>{{selectedItem.title }}</b>
            </div>
          -->
      
      </ion-refresher>
    <ion-card class="welcome-card">
      <ion-img [src]="principal.imagen" style="height: 110px"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Juan Guaidó App</ion-card-subtitle>
        <ion-card-title>{{principal.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{principal.texto}}</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Ultima Noticias</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let noticia of noticias">
        <ion-card>
            <ion-img src="{{noticia.imagen}}" style="height: 150px"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Juan Guaidó App</ion-card-subtitle>
              <ion-card-title>{{noticia.titulo}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{noticia.texto}}</p><br>Fuente:{{noticia.fuente}}
            </ion-card-content>
        </ion-card>
        
        
        
      </ion-item>
    </ion-list>
</ion-content>
